*
!/**/
!*.*

testbench/rtl_work
testbench/modelsim.ini
testbench/vsim.wlf
testbench/*.vstf


*.bak
example/db
example/incremental_db
example/output_files
example/simulation
example/*.bak
example/*.rpt
example/cr_ie_info.json
example/temperature_sensor_example.qws
